@keyframes bot_border_in {
  0% {
    left: -100%;
  }

  100% {
    left: 0;
  }
}

@keyframes bot_border_out {
  0% {
    left: 0%;
  }

  100% {
    left: 100%;
  }
}

@keyframes shake {
  50% {
    transform: translate3d(2.5px, 0, 0);
  }

  80%
  /*80%*/ {
    transform: translate3d(-2.5px, 0, 0);
  }

  /*30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }*/
}
