:root {
  --main-bg-color: #000;
  --main-font-color: #ffffff;
  --accent: #40bd5d;
  --dim-text: rgba(255, 255, 255, 0.6);
}

body {
  background: var(--main-bg-color);
  color: var(--main-font-color);
  font-size: 18px;
}

body .home {
  min-height: 100vh;
}

.home header {
  height: 80vh;
  background: url(../public/img/bg-website-min.png) no-repeat center;
  background-size: 150%;
  position: relative;
  perspective: 1000px;
}

.top-line {
  width: 100%;
  display: flex;
  padding: 60px 0 20px 0;
}

.container {
  width: 1174px;
  margin: auto;
}

nav {
  margin: auto;
}

nav ul {
  display: flex;
}

nav ul li {
  margin: 0 10px;
  padding: 5px 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

nav ul li span {
  opacity: 0.7;
  transition: opacity 0.2s ease-in;
}

nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: -100%;
  height: 1.5px;
  background: var(--main-font-color);
  animation: bot_border_out 0.2s ease-in-out;
}

nav ul li:hover::after {
  left: 0;
  animation: bot_border_in 0.2s ease-in-out;
}

nav ul li:hover span {
  opacity: 1;
}

.main-border {
  border: 1px solid rgba(255, 255, 255, 0.123);
  border-radius: 12px;
}

.board {
  background: var(--main-bg-color);
  padding: 5px;
}

.board-content {
  height: 650px;
  background: url(../public/img/innerboard.png) no-repeat center;
  background-size: contain;
  padding: 0 20px;
  display: flex;
}

.board-content .board-content_text {
  width: 45%;
  margin: auto;
  padding-left: 50px;
}

.board-content .board-content_interactive {
  flex: 1;
}

h1 {
  font-size: 68px;
  line-height: 77px;
}

.board-content .board-content_text h1 {
  margin: 20px 0 35px 0;
  transition: color 0.3s ease-in;
}

.board .board-content:hover h1 {
  animation: shake 0.3s cubic-bezier(0.5, 0, 0.75, 1) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  color: var(--accent);
}

p {
  color: var(--dim-text);
  font-size: 18px;
}

.flip-wrapper {
  transform-style: preserve-3d;
}

.board-head {
  position: relative;
  height: 30px;
}
.tricolor {
  display: inline-flex;
  height: 100%;
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
}

.tricolor_item {
  border-radius: 50%;
  margin: auto 4px auto 4px;
  width: 10px;
  height: 10px;
  border: 1px solid rgb(49, 49, 49);
  transition: background-color 0.3s ease;
}

.tricolor:hover .tricolor_item.tricolor_item__red {
  background-color: #f36c5f;
}

.tricolor:hover .tricolor_item.tricolor_item__yellow {
  background-color: #f8bd4d;
}

.tricolor:hover .tricolor_item.tricolor_item__green {
  background-color: #53c14f;
}

.board-content_text a {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background: var(--accent);
  border-radius: 9999px;
  padding: 5px 10px;
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.board-content_text a img {
  transition: all 0.4s ease;
  margin-left: 10px;
}

.board-content_text a:hover img {
  margin-left: 20px;
}

.board-content_interactive {
  display: flex;
}

.interactive-menu {
  width: 95%;
  height: 80%;
  background: rgb(22, 22, 22);
  margin: auto;
  margin-left: 0;
  display: flex;
  overflow: hidden;
}

.interactive-menu_sidebar {
  width: 40%;
  background: var(--main-bg-color);
  border-right: 1px solid rgba(255, 255, 255, 0.123);
  position: relative;
  z-index: 0;
}

.interactive-menu_sidebar .glare {
  z-index: 1;
  position: absolute;
  top: -20px;
  left: -80px;
  width: 150px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.08);
  box-shadow: 0 0 40px 20px rgba(255, 255, 255, 0.07),
    /* inner white */ 0 0 100px 60px rgba(255, 255, 255, 0.02),
    /* middle magenta */ 0 0 170px 100px rgba(255, 255, 255, 0.01); /* outer cyan */
  transform: rotate(45deg);
}

.interactive-menu_sidebar ul {
  padding: 70px 10px 50px 10px;
}

.interactive-menu_sidebar ul li {
  display: flex;
  align-items: center;
  padding: 8px 0 8px 7px;
  cursor: pointer;
}

.interactive-menu_sidebar ul li span {
  font-size: 14px;
  color: var(--dim-text);
  margin-left: 11px;
  transition: color 0.4s ease-in;
}

.interactive-menu_sidebar ul li:hover span {
  color: var(--main-font-color);
}

.interactive-menu_sidebar .menu_button {
  width: 28px;
  height: 28px;
  background: url(../public/img/menu-btn.png) no-repeat;
  background-size: cover;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interactive-menu_sidebar li.menu-item.active {
  background: url(../public/img/long-menu-btn.png) no-repeat;
  background-size: 98% 100%;
}

.interactive-menu_sidebar li.menu-item.active .menu_button {
  background: var(--accent);
  border-radius: 7.5px;
}

.interactive-menu_content {
  padding-top: 30px;
  flex: 1;
}

.signatureWrapper {
  width: 90%;
  margin: 40px auto 0 auto;
  display: flex;
  flex-direction: column;
}

.signatureWrapper canvas {
  background-color: rgb(31, 30, 30) !important;

  cursor: url(../public/img/pen.png), auto;
}

.signatureWrapper .controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.signatureWrapper button {
  background: rgba(255, 255, 255, 0.2);
  width: 45%;
  border-radius: 7px;
  border: none;
  outline: 0;
  cursor: pointer;
  padding: 0.7em 3em;
  color: white;
  font-family: inherit;
  transition: all 0.3s;
}

.signatureWrapper button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.signed-user {
  border-radius: 50%;
  float: right;
  background: red;
  width: 35px;
  height: 35px;
  padding: 2px;
}

.snakeWrapper {
  display: flex;
}

.snakeWrapper canvas {
  margin: auto;
  background: rgba(255, 255, 255, 0.842);
  border-radius: 5px;
}
