:root {
  --main-bg-color: #000;
  --main-font-color: #ffffff;
  --accent: #40bd5d;
  --dim-text: rgba(255, 255, 255, 0.6);
  --transition: 1s cubic-bezier(0.05, 0.5, 0, 1);
  --base-board: 650px;
  --project-card: 250px;
  --index: calc(1vw + 1vh);
  --explorer-ovelay: rgba(255, 255, 255, 0.95);
}

body {
  background: var(--main-bg-color);
  color: var(--main-font-color);
  font-size: 18px;
  overflow: hidden;
  /* overflow-y: hidden;
  overflow-x: hidden; */
}

header {
  height: 100vh;
  background: url(../public/img/bg-website-min.png) no-repeat center;
  background-size: 150%;
  position: relative;
  perspective: 1000px;
}

.top-line {
  width: 100%;
  display: flex;
  padding: 60px 0 20px 0;
}

.container {
  width: 1174px;
  margin: auto;
}

nav {
  margin: auto;
}

nav ul {
  display: flex;
}

nav ul li {
  margin: 0 10px;
  padding: 5px 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

nav ul li span {
  opacity: 0.7;
  transition: opacity 0.2s ease-in;
}

nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: -100%;
  height: 1.5px;
  background: var(--main-font-color);
  animation: bot_border_out 0.2s ease-in-out;
}

nav ul li:hover::after {
  left: 0;
  animation: bot_border_in 0.2s ease-in-out;
}

nav ul li:hover span {
  opacity: 1;
}

.main-border {
  border: 1px solid rgba(255, 255, 255, 0.123);
  border-radius: 12px;
}

.board {
  background: var(--main-bg-color);
  padding: 5px;
  position: relative;
  padding-right: 35px;
}

.board aside {
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
  height: 100%;
  padding-top: 50px;
}

.board aside .signatureWrapper {
  width: 100%;
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 0;
  margin-bottom: auto;
}

.signatureContainer,
.hiddenSignatures {
  width: 33px;
  height: 33px;
  position: relative;
  display: flex;
  z-index: 1;
}

.signatureContainer:hover {
  animation: bubbleSig 0.5s ease;
  z-index: 2;
}

.signatureContainer img {
  border-radius: 50%;
  padding: 2px;
  margin: auto;
  min-width: calc(100% - 3px);
  border: 1px solid black;
  height: calc(100% - 3px);
}

.hiddenSignatures {
  border-radius: 50%;
  background: rgb(22, 22, 22);
  color: white;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: auto 1px auto auto;
  border: 1px solid white;
  user-select: none;
}

.board-content {
  height: 650px;
  background: url(../public/img/innerboard.png) no-repeat center;
  background-size: contain;
  padding: 0 20px;
  display: flex;
}

.board-content .board-content_text {
  width: 37%;
  margin: auto;
  padding-left: 50px;
}

.board-content .board-content_interactive {
  flex: 1;
}

h1 {
  font-size: 68px;
  line-height: 77px;
}

.board-content .board-content_text h1 {
  margin: 20px 0 35px 0;
  transition: color 0.3s ease-in;
}

.board .board-content:hover h1 {
  animation: shake 0.3s cubic-bezier(0.5, 0, 0.75, 1) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  color: var(--accent);
}

p {
  color: var(--dim-text);
  font-size: 18px;
}

.flip-wrapper {
  transform-style: preserve-3d;
  transform-origin: top;
}

.flip-wrapper.equator {
  transform-origin: center;
}

.board-head {
  position: relative;
  height: 30px;
}
.tricolor {
  display: inline-flex;
  height: 100%;
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
}

.tricolor_item {
  border-radius: 50%;
  margin: auto 4px auto 4px;
  width: 10px;
  height: 10px;
  border: 1px solid rgb(49, 49, 49);
  transition: background-color 0.3s ease;
}

.tricolor:hover .tricolor_item.tricolor_item__red {
  background-color: #f36c5f;
}

.tricolor:hover .tricolor_item.tricolor_item__yellow {
  background-color: #f8bd4d;
}

.tricolor:hover .tricolor_item.tricolor_item__green {
  background-color: #53c14f;
}

.board-content_text a {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background: var(--accent);
  border-radius: 9999px;
  padding: 5px 10px;
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.board-content_text a img {
  transition: all 0.4s ease;
  margin-left: 10px;
}

.board-content_text a:hover img {
  margin-left: 20px;
}

.board-content_interactive {
  display: flex;
}

.interactive-menu {
  width: 100%;
  height: 80%;
  background: rgb(22, 22, 22);
  margin: auto;
  margin-left: 0;
  display: flex;
  overflow: hidden;
}

.interactive-menu_sidebar {
  width: 40%;
  background: var(--main-bg-color);
  border-right: 1px solid rgba(255, 255, 255, 0.123);
  position: relative;
  z-index: 0;
}

.interactive-menu_sidebar .glare {
  z-index: 1;
  position: absolute;
  top: -20px;
  left: -80px;
  width: 150px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.08);
  box-shadow: 0 0 40px 20px rgba(255, 255, 255, 0.07),
    /* inner white */ 0 0 100px 60px rgba(255, 255, 255, 0.02),
    /* middle magenta */ 0 0 170px 100px rgba(255, 255, 255, 0.01); /* outer cyan */
  transform: rotate(45deg);
}

.interactive-menu_sidebar ul {
  padding: 70px 10px 50px 10px;
}

.interactive-menu_sidebar ul li {
  display: flex;
  align-items: center;
  padding: 8px 0 8px 7px;
  cursor: pointer;
}

.interactive-menu_sidebar ul li span {
  font-size: 14px;
  color: var(--dim-text);
  margin-left: 11px;
  transition: color 0.4s ease-in;
}

.interactive-menu_sidebar ul li:hover span {
  color: var(--main-font-color);
}

.interactive-menu_sidebar .menu_button {
  width: 28px;
  height: 28px;
  background: url(../public/img/menu-btn.png) no-repeat;
  background-size: cover;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interactive-menu_sidebar li.menu-item.active {
  background: url(../public/img/long-menu-btn.png) no-repeat;
  background-size: 98% 100%;
}

.interactive-menu_sidebar li.menu-item.active .menu_button {
  background: var(--accent);
  border-radius: 7.5px;
}

.interactive-menu_content {
  padding-top: 30px;
  flex: 1;
}

.signatureWrapper {
  width: 90%;
  margin: 40px auto 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.signatureWrapper canvas {
  background-color: rgb(204, 204, 230) !important;
  width: 100%;
  height: 100%;
  cursor: url(../public/img/pen.png), auto;
}

.signatureWrapper .controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

button {
  font-family: inherit;
}

.snakeWrapper {
  display: flex;
}

.snakeWrapper canvas {
  margin: auto;
  background: rgb(204, 204, 230);
  border-radius: 2px;
}

.snake-controls {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.snake-controls button,
.signatureWrapper button {
  background: transparent;
  border: 1px solid rgb(204, 204, 230);
  color: rgb(204, 204, 230);
  padding: 7px 15px;
  cursor: pointer;
  margin: auto;
  transition: all 1s ease;
  text-transform: uppercase;
}

.snake-controls button:hover,
.signatureWrapper button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.snake-controls .arrows {
  padding-top: 20px;
  margin: auto;
}

.snake-controls .arrows img {
  width: 50px;
  margin: auto;
}

.snake-controls .arrows > div {
  display: flex;
  width: 170px;
}

.snake-controls .arrows .top {
  margin-bottom: 5px;
}

.snake-controls .arrows .bot img:nth-child(1) {
  transform: rotate(-90deg);
}

.snake-controls .arrows .bot img:nth-child(2) {
  transform: rotate(180deg);
}

.snake-controls .arrows .bot img:nth-child(3) {
  transform: rotate(90deg);
}

.dfiance,
.xpSection,
.explorerSection {
  height: 100vh;
  background: var(--main-bg-color);
  position: relative;
}

.dfiance {
  perspective: 500px;
  overflow: hidden;
  z-index: 0;
  backface-visibility: hidden;
}

.dfiance::after,
.xpSection::after,
.explorerSection::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: #000;
  transition: background-color 2s ease;
}

.dfiance.visible::after,
.xpSection.visible::after,
.explorerSection.visible::after {
  pointer-events: none;
  z-index: 0;
  background-color: transparent;
}

.layers__container {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  transform: rotateX(var(--move-y)) rotateY(var(--move-x));
  will-change: transform;
  transition: transform var(--transition);
}

.layers__item {
  position: absolute;
  inset: -5vw;
  background-size: cover;
  background-position: center;
}

.layers__item.layer-1 {
  background-image: none;
  transform: translateZ(-150px) scale(1.28) translateY(2vh);
}

.layers__item.layer-1.loaded {
  background-image: url(../public/img/dfiance/1-min.png);
}

.layers__item.layer-2 {
  background-image: none;
  transform: translateZ(70px) scale(0.85);
}

.layers__item.layer-2.loaded {
  background-image: url(../public/img/dfiance/1-min.png);
}

.layers__item.layer-3 {
  bottom: 26vh;
  top: unset;
  right: unset;
  left: 50%;
  transform: translateX(-45%) translateZ(140px);
  background: unset;
  display: flex;
  flex-direction: column;
}

.dfiance p {
  width: 450px;
  color: white;
  text-align: center;
  line-height: 23px;
}

.dfiance a,
.dfiance button {
  display: block;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  padding: 7px 15px;
  cursor: pointer;
  margin: 0 5px;
  transition: all 1s ease;
  text-decoration: none;
  border-radius: 12px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-family: inherit;
}

.dfiance button {
  background: rgba(255, 255, 255, 0.1);
}

.dfiance a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.layers__item.layer-4 {
  background-image: url(../public/img/dfiance/4-min.png);
  transform: translateZ(100px) scale(0.82);
  pointer-events: none;
}

.layers__item.layer-5 {
  background-image: url(../public/img/dfiance/5-min.png);
  transform: translateZ(100px) scale(0.7);
  pointer-events: none;
}

.layers__item.layer-6 {
  background-image: url(../public/img/dfiance/6-min.png);
  transform: translateZ(150px) scale(0.6);
  pointer-events: none;
}

.layers__item.layer-8 {
  background-image: url(../public/img/dfiance/8.png);
  transform: translateZ(71px) scale(1) translateY(15vh);
  pointer-events: none;
  z-index: 2;
}

.layers__item.layer-8 .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 93px;
  z-index: 3;
  background: linear-gradient(
    90deg,
    var(--main-bg-color) 0 9%,
    transparent 20% 80%,
    var(--main-bg-color) 91% 100%
  );
}

.item__buttons {
  margin: auto;
}

.projectsWrapper {
  height: 250px;
}

.projectSelector {
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
}

.projectSelector__imageWrapper {
  width: 28%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border: 1px solid transparent;
  transition: width 0.15s ease-in-out;
}

.projectSelector__imageWrapper img {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
  width: var(--project-card);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transform: translate(-50%, 0);
}

.projectSelector__imageWrapper.hovered {
  width: calc(var(--project-card) * 0.95);
  position: relative;

  animation: glower 5s linear infinite;
  z-index: 3;
}

.projectSelector__imageWrapper.hovered::after {
  content: "";
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  inset: 0;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.8) 0% 3%,
      transparent 40% 60%,
      rgba(0, 0, 0, 0.8) 97% 100%
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8) 0% 3%,
      transparent 40% 60%,
      rgba(0, 0, 0, 0.8) 97% 100%
    );
}

.projectSelector__imageWrapper.hovered img {
  filter: unset;
}

.projectSelector__imageWrapper.shrinked {
  width: 10%;
}

.projectInfo {
  display: none;
  font-size: 14px;
  letter-spacing: 1px;
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0;
  left: 0;
  padding: 20px;
  transform: translateY(100%);
}

.projectInfo h3 {
  font-weight: 800;
  font-size: 18px;
}

.projectInfo p {
  color: white;
  margin: 5px 0;
  font-size: 14px;
  line-height: 16px;
}

.projectInfo ul {
  padding-left: 20px;
}

.projectInfo ul li {
  padding: 4px 0;
}

.projectInfo ul li span {
  color: rgba(255, 255, 255, 0.8);
}

.projectInfo.show {
  display: block;
}

.letter-by-letter {
  overflow: hidden;
}

.letter-by-letter span {
  display: inline-block;
  opacity: 0;
  white-space: pre;
  /* animation: fadeIn 0.5s ease-out forwards;*/
}

.prodecDescr span {
  font-size: 12px;
  margin: 3px 0;
}

.lds-ripple {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 18;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

.xpSection__container {
  visibility: hidden;
  opacity: 0;
}

.xpSection.visible .xpSection__container {
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xpSection__container > h2 span {
  user-select: none;
}

.xpSection h2 {
  position: absolute;
  z-index: 19;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: calc(var(--index) * 1.8);
  text-transform: uppercase;
  transition: color 1s ease;
  letter-spacing: 1.5px;
}

.xpSection h2 .lds-ripple {
  transform: translate(-50%, -50%) scale(2.5);
}

.xpSection.visible h2 {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2000;
}

.xpSection.visible h2 p {
  color: black;
  padding-top: 8px;
  font-size: calc(var(--index));
  font-weight: normal;
}

.xpVisitBtn {
  text-transform: uppercase;
  font-size: calc(var(--index) * 0.6);
  background-color: transparent;
  border: 2px solid black;
  color: black;
  cursor: pointer;
  padding: 0.7em 1.5em;
  margin-top: 20px;
  text-decoration: none;
  background: white;
  text-align: center;
  font-family: inheritm;
  position: relative;
  overflow: hidden;
  z-index: 1;
  user-select: none;
  transition: color 150ms ease-in-out;
}

.xpVisitBtn::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: black;
  z-index: -1;
  transition: width 150ms ease-in-out;
}

.xpVisitBtn:hover:after {
  width: 110%;
}

.xpVisitBtn:hover {
  color: #fff;
  outline: none;
}

.xpVisitBtnL:focus {
  outline: none;
}

.xpSection .gallery {
  column-width: 2em;
  gap: 0.4em;
  width: 30vw;
  transform: scale(10);
  position: relative;
  z-index: 1;
  will-change: transform;
  transition: transform 1s cubic-bezier(0.075, 1, 0.25, 1), opacity 1s;
}

.xpSection .gallery__item {
  margin-bottom: 0.4em;
}

.xpSection .gallery__item img {
  display: none;
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.xpSection.visible .gallery__item img {
  display: initial;
}

.xpSection .gallery__item img.intersected {
  opacity: 0;
}

#project {
  position: relative;
}

.scroll-up {
  z-index: 99999;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 6vw;
  height: 5vh;
}

.scroll-up::after {
  content: "";
  position: absolute;
  inset: -55px;
  transform: translateX(-20%);
  z-index: -1;
  border-radius: 50%;
  background: radial-gradient(rgba(0, 0, 0, 0.72), transparent);
  filter: blur(20px);
}

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #ffffff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
  cursor: pointer;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #ffffff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}

.explorerSection .scence__contaier,
.explorerSection .video__container,
.explorerSection .overlay {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
}

.explorerSection.visible .scence__contaier,
.explorerSection.visible .video__container,
.explorerSection .overlay {
  visibility: visible;
  opacity: 1;
}

.explorerSection .video__container {
  position: absolute;
  z-index: 2;
}

.video__container video {
  width: 100%;
  transform: scale(1.28) translateY(-3vh);
  height: 100%;
  transition: opacity 0.4s ease;
}

.scence__contaier .overlay {
  position: absolute;
  z-index: 3;
  cursor: none;

  background: linear-gradient(
      to bottom,
      var(--explorer-ovelay) 0 var(--tbox-y1),
      transparent var(--tbox-y1) var(--tbox-y2),
      var(--explorer-ovelay) var(--tbox-y2) 100%
    ),
    linear-gradient(
      to right,
      var(--explorer-ovelay) 0 var(--tbox-x1),
      transparent var(--tbox-x1) var(--tbox-x2),
      var(--explorer-ovelay) var(--tbox-x2) 100%
    );
}

.scence__contaier .overlay.full {
  background: var(--explorer-ovelay);
}

.scence__contaier .overlay .overlay__text {
  position: absolute;
  z-index: 4;
  top: 50%;
  transform: translateY(-50%);
  background: var(--explorer-ovelay);
  border-radius: 20px;
  right: 5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}

.scence__contaier .overlay__text h4 {
  font-size: calc(var(--index) * 2);
  color: black;
  font-family: inherit;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
}

.scence__contaier .overlay__text p {
  font-family: inherit;
  font-size: calc(var(--index) * 0.75);
  color: black;
  padding: 20px 0;
  line-height: calc(var(--index) * 1);
}

.scence__contaier .overlay__text a {
  display: inline;
  outline: 0;
  border: 0;
  font-size: 20px;
  color: #fff;
  background-image: linear-gradient(to right, #e052a0, #f15c41) !important;
  border-radius: 3px;
  padding: 14px 25px;
  white-space: nowrap;
  font-family: inherit;
  text-decoration: none;
  letter-spacing: 1px;
}

.scence__contaier .overlay__text a:hover {
  background-color: #e6375a;
  background-image: none !important;
}

.sigGhost {
  position: fixed;
  opacity: 1;
  width: 200px;
  height: 200px;
  pointer-events: none;
  border-radius: 50%;
  transition: all 0.5s linear;
}

.sigGhost.transfered {
  width: 33px;
  border: 1px solid black;
  height: 33px;
  opacity: 0.2;
}

.canvasWrapper {
  height: 300px;
}
