@media only screen and (max-width: 1600px) {
  :root {
    --project-card: 200px;
  }

  .top-line {
    padding: 30px 0 20px 0;
  }

  .board-content {
    height: 550px;
    background-size: 100% 95%;
  }

  .projectsWrapper {
    height: 200px;
  }

  .snake-controls .arrows img {
    width: 40px;
  }

  .signatureWrapper .controls {
    margin-top: 20px;
  }

  .about-content {
    height: 550px;
  }

  .about-text__wrapper {
    height: 300px;
    overflow-y: auto;
    padding-right: 10px;
  }

  .about-text__wrapper::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  .about-text__wrapper::-webkit-scrollbar-track {
    background: #161616;
    cursor: pointer;
  }

  /* Handle */
  .about-text__wrapper::-webkit-scrollbar-thumb {
    background: rgba(192, 192, 192, 0.2);
  }

  .about-text__wrapper::-webkit-scrollbar-thumb:hover {
    background: rgba(192, 192, 192, 1);
  }

  .snake-controls {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .snake-controls .arrows {
    padding-top: 0;
    margin: unset;
  }

  .scence__contaier .overlay__text p {
    font-size: 18px;
    line-height: 22px;
  }
}

@media only screen and (max-width: 1182px) {
  .container {
    width: 1050px;
  }

  .projectInfo .button {
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 1062px) {
  .container {
    width: 900px;
  }

  .board-content .board-content_text {
    padding-left: 10px;
  }

  .board-content_text p br {
    display: initial;
  }

  .canvasWrapper {
    height: 250px;
    width: 250px;
  }

  .about-content__right .avatarWrapper {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (max-width: 900px) {
  :root {
    --project-card: 175px;
  }

  .container {
    width: 800px;
  }

  .projectsWrapper {
    height: 175px;
  }

  h1 {
    font-size: 50px;
    line-height: 60px;
  }

  .snake-controls .controls-button {
    height: 35px;
    width: 35px;
  }

  .snake-controls .arrows > div {
    margin-bottom: 0 !important;
    width: 140px;
  }

  .about-content__left h3 {
    font-size: 16px;
  }

  .about-content__left p {
    font-size: 16px;
  }

  .button {
    font-size: 12px;
  }

  .projectInfo .button {
    transform: translate(-50%, 50%);
  }

  .prodecDescr {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .app {
    display: none;
  }

  .nomobile {
    display: flex;
  }
}
